<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-1 col-md-3">
                <img class="header__logo" src="../img/logo.svg" alt="">
            </div>
            <div class="col-11 col-md-9 d-flex align-items-center justify-content-end">
                <ul class="header__nav d-none d-lg-flex align-items-center justify-content-end">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Price</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li>
                        <a href="#">Testimonials</a>
                    </li>
                </ul>
                <div class="header__networks d-flex me-4">
                    <a href="#" target="_blank" class="d-flex align-items-center justify-content-center"><img src="../img/networks.png" alt=""></a>
                    <a href="#" target="_blank" class="d-flex align-items-center justify-content-center"><img src="../img/networks.png" alt=""></a>
                </div>
                <div class="d-block d-lg-none header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__mobile-menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__mobile-menu_items">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Price</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>