<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="products__title">Everything you need to grow online</h2>
                <div class="products__text">These tools helped <span>100,000+ websites</span> grow businesses online.
                    The best part is — all the features go with a single subscription. No extra fees.</div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #e8225b;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #E92D58;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #ED4955;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #EF5D51;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #F06A4F;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #F59746;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #F8AB45;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="products__card">
                    <div style="background-color: #F9B741;" class="products__card_item">
                        <img src="../img/market.svg" alt="">
                    </div>
                    <div class="products__card_title">
                        Online store
                    </div>
                    <div class="products__card_line"></div>
                    <div class="products__card_text">
                        Sell literally anything, anywhere, anytime. No complicated settings.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>