<section class="proposal">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column align-items-center justify-content-center">
                <div class="proposal__title">Effortless website builder for professionals and business owners</div>
                <div class="proposal__descp">Designing powerful websites has never been this easy. All you need to do is pick a template, then add your logo and copy. That's it!</div>
                <div class="btn btn-warning proposal__btn">Update Now!</div>
            </div>
            <div class="col-12 col-xl-6 d-flex flex-direction align-items-center">
                <img style="overflow: hidden;" src="../img/proposal_img.png" alt="">
            </div>
        </div>
    </div>
</section>