<section class="specials">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="specials__title">Save 50% on monthly and 25% on annual plans!</div>
                <div class="specials__subtitle">Monthly plan discount applies for the first 3 months</div>
                <div class="specials__text"><span>*</span>the offer is valid only for your first subscription.</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="specials__card">
                    <div class="specials__price"><span>7.50$</span><s>12$</s></div>
                    <ul>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/none.png" alt=""> test</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="specials__card">
                    <div class="specials__price"><span>9.50$</span><s>20$</s></div>
                    <ul>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/success.png" alt=""> test</li>
                        <li><img src="../img/none.png" alt=""> test</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>