<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials__title mb-4">Testimonials</div>
                <div class="testimonials__slider">
                    <div>
                        <div class="testimonials__slider_card">
                            <div class="testimonials__slider_photo"
                                style="background-image: url('../img/profile.png');"></div>
                            <div class="testimonials__slider_title">John Wood</div>
                            <div class="testimonials__slider_descp">Agency Director at WowTaxi</div>
                            <div class="testimonials__slider_networks">
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                            </div>
                            <div class="testimonials__slider_text">"Our agency has recently moved away from WordPress
                                and
                                SquareSpace. Levium is a great platform. Easy user interface. Great for our clients.
                                Great
                                for SEO. Cost effective. No more frustrating plugin or security issues like WordPress.
                                The
                                best part - Levium have a terrific support team, they are always super responsive, they
                                always follow up. This could be the best support in the industry - just saying!"</div>
                            <div class="testimonials__slider_date">July 9, 2022</div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonials__slider_card">
                            <div class="testimonials__slider_photo"
                                style="background-image: url('../img/profile.png');"></div>
                            <div class="testimonials__slider_title">John Wood</div>
                            <div class="testimonials__slider_descp">Agency Director at WowTaxi</div>
                            <div class="testimonials__slider_networks">
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                            </div>
                            <div class="testimonials__slider_text">"Our agency has recently moved away from WordPress
                                and
                                SquareSpace. Levium is a great platform. Easy user interface. Great for our clients.
                                Great
                                for SEO. Cost effective. No more frustrating plugin or security issues like WordPress.
                                The
                                best part - Levium have a terrific support team, they are always super responsive, they
                                always follow up. This could be the best support in the industry - just saying!"</div>
                            <div class="testimonials__slider_date">July 9, 2022</div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonials__slider_card">
                            <div class="testimonials__slider_photo"
                                style="background-image: url('../img/profile.png');"></div>
                            <div class="testimonials__slider_title">John Wood</div>
                            <div class="testimonials__slider_descp">Agency Director at WowTaxi</div>
                            <div class="testimonials__slider_networks">
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                                <a href="#" target="_blank"
                                    class="item d-flex align-items-center justify-content-center">
                                    <img src="../img/networks.png" alt="">
                                </a>
                            </div>
                            <div class="testimonials__slider_text">"Our agency has recently moved away from WordPress
                                and
                                SquareSpace. Levium is a great platform. Easy user interface. Great for our clients.
                                Great
                                for SEO. Cost effective. No more frustrating plugin or security issues like WordPress.
                                The
                                best part - Levium have a terrific support team, they are always super responsive, they
                                always follow up. This could be the best support in the industry - just saying!"</div>
                            <div class="testimonials__slider_date">July 9, 2022</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>