.testimonials {
    margin-bottom: 60px;
    &__title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 1.1;
        text-align: center;
        color: #ffffff;
        margin-bottom: 56px !important;
        @media screen and (max-width: 640px) {
            font-size: 38px;
        }
    }
    &__slider {
        &_date {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.8px;
            color: #ffffff;
            margin-bottom: 42px;
        }
        &_text {
            font-family: "Roboto";
            font-size: 18px;
            line-height: 1.5;
            color: #6f6f6f;
            margin-bottom: 26px;
        }
        &_networks {
            display: flex;
            justify-content: center;
            margin-bottom: 28px;
            .item {
                min-width: 30px;
                max-width: 30px;
                min-height: 30px;
                max-height: 30px;
                background: #f9b742;
                margin: 12px;
            }
        }
        &_descp {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.8px;
            color: #ffffff;
            margin-bottom: 32px;
        }
        &_title {
            font-family: "Poppins";
            font-weight: 600;
            font-size: 22px;
            line-height: 1.4;
            color: #ffffff;
            margin-bottom: 22px;
        }
        &_card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_photo {
            min-width: 120px;
            max-width: 120px;
            min-height: 120px;
            max-height: 120px;

            border: 2px solid #f9b742;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 20px;
        }
        .slick-dots {
            display: flex !important;
            justify-content: center;
            li {
                list-style: none;
                button {
                    margin: 10px;
                    font-size: 0;
                    padding: 0;
                    display: block;
                    min-width: 14px !important;
                    max-width: 14px;
                    min-height: 14px !important;
                    background: rgba(255, 255, 255, 0.25);
                    border-radius: 5px;
                    border: none;
                }
                &.slick-active {
                    button {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}
